<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnsfdx.hslife.mapper.CommentMapper">
    <resultMap id="commentRelustMap" type="com.hnsfdx.hslife.pojo.Comment">
        <id property="id" column="id" jdbcType="INTEGER" />
        <result property="questionId" column="questionid" jdbcType="INTEGER" />
        <result property="content" column="content" jdbcType="VARCHAR" />
        <result property="reviewer" column="reviewer" jdbcType="VARCHAR" />
        <result property="publishDate" column="publishdate" jdbcType="TIMESTAMP" />
        <result property="likeNum" column="likenum" jdbcType="INTEGER" />
    </resultMap>
    <select id="findAllCommentsByQuesionId" resultMap="commentRelustMap">
        SELECT * FROM comments WHERE questionid = #{questionId} ORDER BY publishdate DESC LIMIT #{offset}, ${@com.hnsfdx.hslife.util.PageUtil@PAGESIZE}
    </select>

    <select id="findAllCommentsByQuesionIdMost3" parameterType="Integer" resultMap="commentRelustMap">
        SELECT * from comments WHERE questionid = #{questionId} ORDER BY likenum DESC LIMIT 3
    </select>

    <select id="findAllCommentsByReviewerOpenId" parameterType="String" resultMap="commentRelustMap">
        SELECT DISTINCT * from comments WHERE reviewer = #{openId}
    </select>
</mapper>