<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnsfdx.hslife.mapper.WantedMapper">
    <resultMap id="wantedResultMap" type="com.hnsfdx.hslife.pojo.Wanted">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR" />
        <result property="content" column="content" jdbcType="VARCHAR" />
        <result property="author" column="author" jdbcType="VARCHAR" />
        <result property="publishDate" column="publishdate" jdbcType="TIMESTAMP" />
        <result property="value" column="value" jdbcType="FLOAT" />
        <result property="status" column="status" jdbcType="INTEGER" />
        <result property="recipient" column="recipient" jdbcType="VARCHAR" />
        <result property="imgurl1" column="imgurl1" jdbcType="VARCHAR" />
        <result property="imgurl2" column="imgurl2" jdbcType="VARCHAR" />
        <result property="imgurl3" column="imgurl3" jdbcType="VARCHAR" />
        <result property="imgurl4" column="imgurl4" jdbcType="VARCHAR" />
    </resultMap>
    <select id="findAllWanteds" resultMap="wantedResultMap">
        SELECT * FROM wanteds
    </select>

    <select id="findAllWantedsByRecipientOpenId" parameterType="String" resultMap="wantedResultMap">
        SELECT * FROM wanteds WHERE id = #{openId}
    </select>

    <select id="findAllWantedsByAuthorOpenId" parameterType="String" resultMap="wantedResultMap">
        SELECT * FROM wanteds WHERE id = #{openId}
    </select>

    <select id="findAllWantedsByStatus" parameterType="Integer" resultMap="wantedResultMap">
        SELECT * FROM wanteds WHERE status = #{status}
    </select>

    <select id="findAllWantedsByTitle" parameterType="String" resultMap="wantedResultMap">
      <bind name="pattern" value="'%' + title + '%'" />
        SELECT * FROM wanteds WHERE title LIKE #{pattern}
    </select>
</mapper>